<div class="box mt-6 is-shadowless">
  <h3 class="title">Mis encomiendas</h3>
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Numero de paquete</th>
          <th>Conserje</th>
          <th>Fecha de recepcion</th>
          <th>Estado</th>
          <th>Puede retirar</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(singlePackage of packages | async; track $index) {

        <tr>
          <td>{{ singlePackage.trackingNumber }}</td>
          <td>{{ singlePackage.conciergeName }}</td>
          <td>{{ singlePackage.receptionDate | date : "dd/MM/yyyy" }}</td>
          <td>{{ packageStatus[singlePackage.status] | titlecase }}</td>
          <td>{{ singlePackage.assignedTo }}</td>
          <td>
            <button class="button">
              <span class="icon mr-1"><i class="fa-regular fa-user"></i></span>
              Asignar a
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
