<aside class="menu mt-6 ml-3" [ngClass]="{ 'is-hidden-mobile': !openNavbar }">
  <div *ngFor="let section of menuSections" class="mt-3">
    <p class="menu-label" (click)="toggleDropdown(section)">
      {{ section.label }}
      <span class="icon is-pulled-right">
        <i class="fa" [ngClass]="{ 'fa-chevron-up': section.isOpen, 'fa-chevron-down': !section.isOpen }"></i>
      </span>
    </p>
    <ul class="menu-list" *ngIf="section.isOpen">
      <li *ngFor="let item of section.items">
        <a [routerLink]="[item.routerLink]" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}">
          <span class="icon mr-2">
            <i [ngClass]="item.iconClass"></i>
          </span>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</aside>
