<div class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <h2 class="title is-2 has-text-weight-bold">Cambiar Contraseña</h2>
          <form [formGroup]="form" (submit)="onSubmit($event)">
            <div class="field">
              <label class="label">Contraseña</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  (input)="onInputChange('password')"
                  formControlName="password"
                  [ngClass]="{
                    'is-danger':
                      form.get('password')?.invalid &&
                      form.get('password')?.touched,
                    'is-success':
                      form.get('password')?.valid &&
                      form.get('password')?.touched
                  }"
                />
                @if (form.get('password')?.invalid &&
                form.get('password')?.touched) {
                <span>
                  @if(form.get('password')?.errors?.['required']) {
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    Debe ingresar una contraseña que contenga al menos una
                    letra, un número y un símbolo.
                  </p>
                  } @if (form.get('password')?.errors?.['minlength']) {

                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    La contraseña debe tener al menos 8 caracteres.
                  </p>
                  } @if (form.get('password')?.errors?.['invalidPassword']) {
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    La contraseña debe contener al menos una letra, un número y
                    un símbolo.
                  </p>
                  }
                </span>
                } @else {
                <span
                  *ngIf="
                    form.get('password')?.valid && form.get('password')?.touched
                  "
                >
                  <p class="help is-right">
                    <i class="fas fa-check"></i>
                    Contraseña Valida
                  </p>
                </span>
                }
              </div>
            </div>

            <div class="field">
              <label class="label">Confirmar Contraseña:</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  (input)="onInputChange('confirmPassword')"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-danger':
                      form.hasError('passwordsDoNotMatch') &&
                      form.get('confirmPassword')?.touched,
                    'is-success':
                      !form.hasError('passwordsDoNotMatch') &&
                      form.get('confirmPassword')?.touched
                  }"
                />
                <span
                  *ngIf="
                    form.hasError('passwordsDoNotMatch') &&
                    form.get('confirmPassword')?.touched
                  "
                >
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    Las contraseñas no coinciden.
                  </p>
                </span>
                <span
                  *ngIf="
                    !form.hasError('passwordsDoNotMatch') &&
                    form.get('confirmPassword')?.touched
                  "
                >
                  <p class="help is-right">
                    <i class="fas fa-check"></i>
                    Las contraseñas coinciden.
                  </p>
                </span>
              </div>
            </div>
            @if (message) {
            <article class="message is-success">
              <div class="message-body">
                <p>{{ message }}</p>
              </div>
            </article>
            } @if (errors) {
            <article class="message is-danger">
              <div class="message-body">
                @for (error of errors; track $index){
                <p>{{ error }}</p>
                }
              </div>
            </article>
            }
            <div class="field">
              <button
                class="button is-primary is-fullwidth"
                type="submit"
                [disabled]="form.invalid"
              >
                Cambiar Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
