<div class="level">
  <h3 class="title is-3">Usuarios</h3>
  <app-add-user-modal (addUserEvent)="updateList($event)" />
</div>
@if (isLoading) {
<div class="skeleton-lines">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
} @else {
<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>N° Unidades</th>
        <th>Rol</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      @for (user of users; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.unitCount }}</td>
        <td>
          <span
            class="tag {{
              user.role == 'Administrador' ? 'is-dark' : 'is-info'
            }}"
          >
            {{ user.role }}
          </span>
        </td>
        <td>
          <button class="button is-danger" (click)="openmodal(user)">
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}

<div class="modal" [ngClass]="{ 'is-active': activateModal }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Eliminando el usuario {{ userToBeDeleted?.given_name }}
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <p>
        Eliminará el usuario
        <span class="has-text-warning">{{ userToBeDeleted?.given_name }}</span>
        de {{ community?.name }}, esta acción no se puede revertir, por favar
        confirme la acción:
      </p>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button
          class="button is-danger"
          (click)="onClickDeleting()"
          [ngClass]="{ 'is-loading': isDeleting[userToBeDeleted?.sub!] }"
        >
          Confirmar
        </button>
        <button class="button" (click)="closeModal()">Salir</button>
      </div>
    </footer>
  </div>
</div>
