<div class="level">
  <h3 class="title is-3">Usuarios</h3>
  <app-add-user-modal (addUserEvent)="updateList($event)" />
</div>
@if (isLoading) {
<div class="skeleton-lines">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
} @else {
<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>N° Unidades</th>
        <th>Rol</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      @for (user of users; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.unitCount }}</td>
        <td>
          <span
            class="tag {{
              user.role == 'Administrador' ? 'is-dark' : 'is-info'
            }}"
          >
            {{ user.role }}
          </span>
        </td>
        <td>
          <button
            class="button is-danger"
            (click)="onClickDeleting(user.id)"
            [ngClass]="{ 'is-loading': isDeleting[user.id] }"
          >
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
