<div style="margin-top: 1em">
  <!-- Header -->
  <div class="level">
    <!-- Titulo y hora-->
    <div class="level-left">
      <h3 class="title level-item">Visitas</h3>
      <p class="subtitle level-item">Fecha actual: {{ currentDateTime }}</p>
    </div>
    <!-- Boton agregar -->
    <div class="level-right">
      <app-add-modal (addGuestEvent)="updateGuestList($event)"></app-add-modal>
    </div>
  </div>

  <!-- Tabla -->
  <div class="box is-fullwidth">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr class="subtitle">
          <th class="has-text-centered">Nombre</th>
          <th class="has-text-centered">Apellido</th>
          <th class="has-text-centered">RUT</th>
          <th class="has-text-centered">Hora de Entrada</th>
          <th class="has-text-centered">Patente</th>
          <th class="has-text-centered">Unidad</th>
          <th class="has-text-centered"></th>
        </tr>
      </thead>
      <tbody class="has-text-centered">
        @for (guest of guests; track $index){
        <tr class="is-hoverable">
          <td>{{ guest.firstName }}</td>
          <td>{{ guest.lastName }}</td>
          <td>{{ guest.rut | formatRut }}</td>
          <td>{{ guest.entryTime | date : "hh:mm:ss a" }}</td>
          <td>{{ guest.plate == "" ? "-" : guest.plate }}</td>
          <td>{{ guest.unit }}</td>
          <td>
            <app-edit-modal
              (editGuestEvent)="editGuest($event)"
              [guestId]="guest.id"
            ></app-edit-modal>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
