<div style="margin-top: 1em">

  <div>

  <!-- Titulo y hora-->
    <div class="level-left">
      <h3 class="title level-item">Visitas</h3>
      <h6 class="subtitle level-item">{{ CommunityName }}</h6>
      <p>Fecha actual: {{ currentDateTime }}</p>
    </div>

    <!-- Boton agregar -->
    <div class="level-right">
      <app-add-modal (addGuestEvent)="updateGuestList($event)"></app-add-modal>
    </div>
    
  </div>

  <!-- Tabla -->
  <div class="box">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>RUT</th>
          <th>Hora de Entrada</th>
          <th>Placa</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (guest of guests; track $index){
          <tr>
            <td>{{ guest.id }}</td>
            <td>{{ guest.firstname }}</td>
            <td>{{ guest.lastname }}</td>
            <td>{{ guest.rut }}</td>
            <td>{{ guest.entrytime | date: 'short' }}</td>
            <td>{{ guest.plate }}</td>
            <td>{{ guest.unit }}</td>
            <td>
              <app-edit-modal
                [guestId]="guest.id"
                (editGuestEvent)="editGuest($event)"
              ></app-edit-modal>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

  