<nav
  class="navbar is-fixed-top is-spaced"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="togleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">{{ title }}</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <div class="is-flex is-flex-direction-column is-align-items-start">
            <div class="is-flex is-align-items-center">
              <span class="icon mr-2">
                <i class="fas fa-user-circle"></i>
              </span>
              <span>{{ user?.given_name }}</span>
            </div>
            <p class="is-size-9 has-text-grey">{{ communityName }}</p>
          </div>
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" (click)="openProfileModal()">
            <span class="icon">
              <i class="fa-solid fa-user-pen"></i>
            </span>
            <span (click)="openProfileModal()">Editar Perfil</span>
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" (click)="toggleTheme()">
            <span class="icon">
              <i class="fas" [ngClass]="{'fa-sun': !isDarkTheme, 'fa-moon': isDarkTheme}"></i>
            </span>
                      <span>
              {{ isDarkTheme ? 'Modo Claro' : 'Modo Oscuro' }}
            </span>
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" (click)="logout()">
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Salir</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

@if(isModalOpen){
  <app-profile (close)="onClickCloseEdit()">
  </app-profile>
}
