<div class="container">
  <div class="card-content">
    <div class="column is-12">
      <h1 class="title is-3 mb-5">Crear Usuario</h1>
      <form class="box" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="columns">
          <div class="column field is-4">
            <label class="label">Nombre</label>
            <div class="control">
              <input
                class="input"
                type="text"
                formControlName="firstName"
                (input)="onInputChange('firstName')"
                placeholder="Nombre"
                [ngClass]="{
                'is-success': signupForm.get('firstName')?.valid && signupForm.get('firstName')?.touched,
                 'is-danger': signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched
              }"
              />

              @if(signupForm.get('firstName')?.invalid &&
              signupForm.get('firstName')?.touched){
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  Debe ingresar el nombre del usuario.
                </p>
              } @else if (signupForm.get('firstName')?.valid &&
              signupForm.get('firstName')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>

          <div class="column field is-4">
            <label class="label">Apellido</label>
            <div class="control">
              <input
                class="input"
                type="text"
                (input)="onInputChange('lastName')"
                formControlName="lastName"
                placeholder="Apellido"
                [ngClass]="{
                'is-danger':
                  signupForm.get('lastName')?.invalid &&
                  signupForm.get('lastName')?.touched,
                  'is-success':
                  signupForm.get('lastName')?.valid &&
                  signupForm.get('lastName')?.touched
              }"
              />

              @if(signupForm.get('lastName')?.invalid &&
              signupForm.get('lastName')?.touched){
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  Debe ingresar el Apellido del usuario.
                </p>
              } @else if (signupForm.get('lastName')?.valid &&
              signupForm.get('lastName')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>

          <div class="column field is-4">
            <label class="label"> N° de RUT </label>
            <div class="control">
              <input
                class="input"
                type="text"
                (input)="onInputChange('rut')"
                formControlName="rut"
                placeholder="rut"
                appFormatRut
                [ngClass]="{
                'is-danger':
                  signupForm.get('rut')?.invalid &&
                  signupForm.get('rut')?.touched,
                  'is-success':
                  signupForm.get('rut')?.valid && signupForm.get('rut')?.touched
              }"
              />

              @if (signupForm.get('rut')?.invalid &&
              signupForm.get('rut')?.touched){ @if
              (signupForm.get('rut')?.errors?.['invalidRut']){
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  El RUT ingresado no es válido.
                </p>
              } @else {
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  Debe ingresar el RUT del usuario.
                </p>
              } } @else if (signupForm.get('rut')?.valid &&
              signupForm.get('rut')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column field is-4">
            <label class="label">Fecha Nacimiento</label>
            <div class="control">
              <input
                class="input"
                type="date"
                (input)="onInputChange('birthDate')"
                formControlName="birthDate"
                [ngClass]="{
                'is-danger':
                  signupForm.get('birthDate')?.invalid &&
                  signupForm.get('birthDate')?.touched,
                                  'is-success':
                  signupForm.get('birthDate')?.valid &&
                  signupForm.get('birthDate')?.touched
              }"
              />

              @if (signupForm.get('birthDate')?.invalid &&
              signupForm.get('birthDate')?.touched) {
                @if(signupForm.get('birthDate')?.errors?.['tooRecent']){
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    El usuario debe ser mayor de 2 años
                  </p>
                } @else {
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    Debe ingresar el fecha de nacimiento del usuario.
                  </p>
                } } @else if (signupForm.get('birthDate')?.valid &&
              signupForm.get('birthDate')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>

          <div class="column field is-4">
            <label class="label">N° teléfono</label>
            <div class="control">
              <input
                class="input"
                type="tel"
                formControlName="phoneNumber"
                placeholder="+56xxxxxxxxx"
                (input)="onInputChange('phoneNumber')"
                [ngClass]="{
                'is-danger':
                  signupForm.get('phoneNumber')?.invalid &&
                  signupForm.get('phoneNumber')?.touched,
                  'is-success':
                  signupForm.get('phoneNumber')?.valid &&
                  signupForm.get('phoneNumber')?.touched
              }"
              />
              @if(signupForm.get('phoneNumber')?.invalid &&
              signupForm.get('phoneNumber')?.touched){ @if
              (signupForm.get('phoneNumber')?.errors &&
              signupForm.get('phoneNumber')?.errors?.['minlength'] &&
              signupForm.get('phoneNumber')?.errors?.['prohoneprefix']){
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  El N° debe ser mayor de 12 dígitos en formato +56xxxxxxxxx
                </p>
              } @else if (signupForm.get('phoneNumber')?.errors &&
              signupForm.get('phoneNumber')?.errors?.['maxlength']) {
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  El N° debe ser menor de 15 dígitos en formato +56xxxxxxxxx
                </p>
              } @else if (signupForm.get('phoneNumber')?.errors &&
              signupForm.get('phoneNumber')?.errors?.['prohoneprefix']){
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  Formato incorrecto, debe ser +56xxxxxxxxx
                </p>
              } @else {
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  Debe ingresar un número telefónico.
                </p>
              } } @else if (signupForm.get('phoneNumber')?.valid &&
              signupForm.get('phoneNumber')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>

          <div class="column field is-4">
            <label class="label">Rol</label>
            <div class="control">
              <div
                class="select"
                [ngClass]="{
                'is-danger':
                  signupForm.get('rol')?.invalid &&
                  signupForm.get('rol')?.touched,
                                  'is-success':
                  signupForm.get('rol')?.valid && signupForm.get('rol')?.touched
              }"
              >
                <select formControlName="rol" (input)="onInputChange('rol')">
                  <option value="" selected>Seleccione un rol</option>

                  <option *ngFor="let rol of listaRol" [value]="rol.name">
                    {{ rol.name }}
                  </option>
                </select>

                @if(signupForm.get('rol')?.invalid &&
                signupForm.get('rol')?.touched){
                  <p
                    class="help is-danger"
                    *ngIf="signupForm.get('rol')?.errors?.['required']"
                  >
                    <i class="fas fa-exclamation-triangle"></i>
                    ¿Qué rol tendrá el usuario?
                  </p>
                } @else if (signupForm.get('rol')?.valid &&
                signupForm.get('rol')?.touched) {
                  <p class="help is-right">
                    <i class="fas fa-check"></i>
                    Validado
                  </p>
                }
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column field is-4">
            <label class="label">Correo</label>
            <div class="control">
              <input
                class="input"
                type="email"
                autocomplete="email"
                formControlName="email"
                placeholder="Correo para iniciar sesión"
                (input)="onInputChange('email')"
                [ngClass]="{
                'is-danger':
                  signupForm.get('email')?.invalid &&
                  signupForm.get('email')?.touched,
                                  'is-success':
                  signupForm.get('email')?.valid &&
                  signupForm.get('email')?.touched
              }"
              />

              @if (signupForm.get('email')?.invalid &&
              signupForm.get('email')?.touched){
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  Debe ingresar el correo del usuario.
                </p>
              } @else if (signupForm.get('email')?.valid &&
              signupForm.get('email')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>
        </div>
        <article class="message is-success mt-4">
          <div class="message-body">
            <p class="subtitle is-6">
              Si lo prefieres, descarga nuestra Planilla Modelo para realizar una creación masiva de usuarios de forma rápida y sencilla. Completa la información requerida en la planilla y luego adjunta el archivo para subirlo al sistema.
            </p>
          </div>
        </article>
        <div class="file" [ngClass]="{ 'has-name': isFileUploaded }">
          <label class="file-label">
            <input
              class="file-input"
              type="file"
              name="resume"
              (change)="onChangeFile($event)"
            />
            <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label"> Elige un archivo </span>
          </span>
            @if (isFileUploaded) {
              <span class="file-name">{{ selectedFileName }}</span>
            }
          </label>
          <button (click)="downloadModel()" class="button ml-2">Planilla Modelo</button>
        </div>

        @if (notification) {
          @if (IsSuccess){
          <div class="notification is-success">
            <button class="delete" (click)="closeNotification()"></button>
            {{ this.notificationMessage }}
          </div>
        } @else if (IsError){
          <div class="notification is-danger">
            <button class="delete" (click)="closeNotification()"></button>
            {{ this.notificationMessage }}
            @for(error of errores; track $index){
             <P>{{error}}</P>
            }
          </div>
        } }

        <div class="buttons">
          <button
            type="submit"
            class="button is-primary"
            [ngClass]="{ 'is-loading': waiting }"
            [disabled]="!signupForm.valid && !isFileUploaded"
          >
            Guardar
          </button>
          <button class="button is-link" (click)="clean()" [disabled]="waiting">
            Limpiar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

