<form class="box" [formGroup]="singupForm" (ngSubmit)="onSubmit()">
  <div class="columns">
    <div class="column field is-4">
      <label class="label">Nombre</label>
      <div class="control">
        <input
          class="input"
          type="text"
          formControlName="firstName"
          (input)="onInputChange('firstName')"
          placeholder="Nombre"
          [ngClass]="{
            'is-danger':
              singupForm.get('firstName')?.invalid &&
              singupForm.get('firstName')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('firstName')?.valid &&
              singupForm.get('firstName')?.touched
          }"
        />

        @if(singupForm.get('firstName')?.invalid &&
        singupForm.get('firstName')?.touched){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Debe ingresar el nombre del usuario.
        </p>
        } @else if (singupForm.get('firstName')?.valid &&
        singupForm.get('firstName')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Validado
        </p>
        }
      </div>
    </div>

    <div class="column field is-4">
      <label class="label">Apellido</label>
      <div class="control">
        <input
          class="input"
          type="text"
          (input)="onInputChange('lastName')"
          formControlName="lastName"
          placeholder="Apellido"
          [ngClass]="{
            'is-danger':
              singupForm.get('lastName')?.invalid &&
              singupForm.get('lastName')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('lastName')?.valid &&
              singupForm.get('lastName')?.touched
          }"
        />

        @if(singupForm.get('lastName')?.invalid &&
        singupForm.get('lastName')?.touched){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Debe ingresar el Apellido del usuario.
        </p>
        } @else if (singupForm.get('lastName')?.valid &&
        singupForm.get('lastName')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Validado
        </p>
        }
      </div>
    </div>

    <div class="column field is-4">
      <label class="label"> N° de RUT </label>
      <div class="control">
        <input
          class="input"
          type="text"
          (input)="onInputChange('rut')"
          formControlName="rut"
          placeholder="xxxxxxxx-x"
          [ngClass]="{
            'is-danger':
              singupForm.get('rut')?.invalid && singupForm.get('rut')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('rut')?.valid && singupForm.get('rut')?.touched
          }"
        />

        @if (singupForm.get('rut')?.invalid && singupForm.get('rut')?.touched){
        @if (singupForm.get('rut')?.errors?.['invalidRut']){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          El RUT ingresado no es válido.
        </p>
        } @else {
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Debe ingresar el RUT del usuario.
        </p>
        } } @else if (singupForm.get('rut')?.valid &&
        singupForm.get('rut')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Validado
        </p>
        }
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column field is-4">
      <label class="label">Fecha Nacimiento</label>
      <div class="control">
        <input
          class="input"
          type="date"
          (input)="onInputChange('birthDate')"
          formControlName="birthDate"
          [ngClass]="{
            'is-danger':
              singupForm.get('birthDate')?.invalid &&
              singupForm.get('birthDate')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('birthDate')?.valid &&
              singupForm.get('birthDate')?.touched
          }"
        />

        @if (singupForm.get('birthDate')?.invalid &&
        singupForm.get('birthDate')?.touched) {
        @if(singupForm.get('birthDate')?.errors?.['tooRecent']){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          El usuario debe ser mayor de 2 años
        </p>
        } @else {
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Debe ingresar el fecha de nacimiento del usuario.
        </p>
        } } @else if (singupForm.get('birthDate')?.valid &&
        singupForm.get('birthDate')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Validado
        </p>
        }
      </div>
    </div>

    <div class="column field is-4">
      <label class="label">N° teléfono</label>
      <div class="control">
        <input
          class="input"
          type="tel"
          formControlName="phoneNumber"
          (input)="onInputChange('phoneNumber')"
          placeholder="+56xxxxxxxxx"
          [ngClass]="{
            'is-danger':
              singupForm.get('phoneNumber')?.invalid &&
              singupForm.get('phoneNumber')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('phoneNumber')?.valid &&
              singupForm.get('phoneNumber')?.touched
          }"
        />

        @if(singupForm.get('phoneNumber')?.invalid &&
        singupForm.get('phoneNumber')?.touched){ @if
        (singupForm.get('phoneNumber')?.errors &&
        singupForm.get('phoneNumber')?.errors?.['minlength'] &&
        singupForm.get('phoneNumber')?.errors?.['prohoneprefix']){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          El N° debe ser mayor de 12 digitos en formato +56xxxxxxxxx
        </p>
        } @else if (singupForm.get('phoneNumber')?.errors &&
        singupForm.get('phoneNumber')?.errors?.['maxlength']) {
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          El N° debe ser menor de 15 digitos en formato +56xxxxxxxxx
        </p>
        } @else if (singupForm.get('phoneNumber')?.errors &&
        singupForm.get('phoneNumber')?.errors?.['prohoneprefix']){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Formato incorrecto, debe ser +56xxxxxxxxx
        </p>
        } @else {
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Debe ingresar un número teléfonico.
        </p>
        } } @else if (singupForm.get('phoneNumber')?.valid &&
        singupForm.get('phoneNumber')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Validado
        </p>
        }
      </div>
    </div>

    <div class="column field is-4">
      <label class="label">Rol</label>
      <div class="control">
        <div
          class="select"
          [ngClass]="{
            'is-danger':
              singupForm.get('rol')?.invalid && singupForm.get('rol')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('rol')?.valid && singupForm.get('rol')?.touched
          }"
        >
          <select formControlName="rol" (input)="onInputChange('rol')">
            <option value="" selected>Seleccione un rol</option>

            <option *ngFor="let rol of listaRol" [value]="rol.name">
              {{ rol.name }}
            </option>
          </select>

          @if(singupForm.get('rol')?.invalid && singupForm.get('rol')?.touched){
          <p
            class="help is-danger"
            *ngIf="singupForm.get('rol')?.errors?.['required']"
          >
            <i class="fas fa-exclamation-triangle"></i>
            ¿Qué rol tendrá el usuario?
          </p>
          } @else if (singupForm.get('rol')?.valid &&
          singupForm.get('rol')?.touched) {
          <p class="help is-right">
            <i class="fas fa-check"></i>
            Validado
          </p>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column field is-4">
      <label class="label">Correo</label>
      <div class="control">
        <input
          class="input"
          type="email"
          autocomplete="email"
          (input)="onInputChange('email')"
          formControlName="email"
          placeholder="Correo para iniciar sesión"
          [ngClass]="{
            'is-danger':
              singupForm.get('email')?.invalid &&
              singupForm.get('email')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('email')?.valid && singupForm.get('email')?.touched
          }"
        />

        @if (singupForm.get('email')?.invalid &&
        singupForm.get('email')?.touched){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Debe ingresar el correo del usuario.
        </p>
        } @else if (singupForm.get('email')?.valid &&
        singupForm.get('email')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Validado
        </p>
        }
      </div>
    </div>

    <div class="column field is-4">
      <label class="label">Contraseña</label>
      <div class="control">
        <input
          class="input"
          type="password"
          (input)="onInputChange('password')"
          formControlName="password"
          autocomplete="new-password"
          placeholder="Al menos 8 caracteres alfanumericos, incluyendo una mayúscula y un símbolo."
          [ngClass]="{
            'is-danger':
              singupForm.get('password')?.invalid &&
              singupForm.get('password')?.touched
          }"
          [ngClass]="{
            'is-success':
              singupForm.get('password')?.valid &&
              singupForm.get('password')?.touched
          }"
        />

        @if (singupForm.get('password')?.invalid &&
        singupForm.get('password')?.touched){ @if
        (singupForm.get('password')?.errors?.['minlength']){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          La contraseña debe tener al menos 8 caracteres.
        </p>
        } @else if (singupForm.get('password')?.errors?.['invalidPassword']) {
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          La contraseña debe contener al menos 8 caracteres, una letra
          mayúscula, un número y un símbolo.
        </p>
        } @else {
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Se debe crear una contraseña para el usuario.
        </p>
        } } @else if (singupForm.get('password')?.valid &&
        singupForm.get('password')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Contraseña Valida
        </p>
        }
      </div>
    </div>

    <div class="column field is-4">
      <label class="label">Confirmar Contraseña</label>
      <div class="control">
        <input
          class="input"
          type="password"
          (input)="onInputChange('confirmPassword')"
          formControlName="confirmPassword"
          placeholder="Ejemplo: Int3lif1ci@"
          [ngClass]="{
            'is-danger':
              singupForm.hasError('passwordsDoNotMatch') &&
              singupForm.get('confirmPassword')?.touched
          }"
          [ngClass]="{
            'is-success':
              !singupForm.hasError('passwordsDoNotMatch') &&
              singupForm.get('confirmPassword')?.touched
          }"
        />

        @if (singupForm.hasError('passwordsDoNotMatch') &&
        singupForm.get('confirmPassword')?.touched){
        <p class="help is-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Las contraseñas no coinciden
        </p>
        } @else if (!singupForm.hasError('passwordsDoNotMatch') &&
        singupForm.get('confirmPassword')?.touched) {
        <p class="help is-right">
          <i class="fas fa-check"></i>
          Las contraseñas coinciden
        </p>
        }
      </div>
    </div>
  </div>
  <p class="subtitle is-6">
    O bien, realiza una carga masiva adjuntando un archivo
  </p>
  <div class="file" [ngClass]="{ 'has-name': isFileUploaded }">
    <label class="file-label">
      <input
        class="file-input"
        type="file"
        name="resume"
        (change)="onChangeFile($event)"
      />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label"> Elige un archivo </span>
      </span>
      @if (isFileUploaded) {
      <span class="file-name">{{ selectedFileName }}</span>
      }
    </label>
  </div>
  @if (notification) { @if (IsSuccess){
  <div class="notification is-success">
    <button class="delete" (click)="closeNotification()"></button>
    {{ this.notificationMessage }}
  </div>
  } @else if (IsError){
  <div class="notification is-danger">
    <button class="delete" (click)="closeNotification()"></button>
    {{ this.notificationMessage }}
  </div>
  } }

  <div class="buttons">
    <button
      type="submit"
      class="button is-primary"
      [ngClass]="{ 'is-loading': loading }"
      [disabled]="!singupForm.valid && !isFileUploaded"
    >
      Guardar
    </button>
    <button class="button is-link" (click)="clean()">Limpiar</button>
  </div>
</form>
