<div class="container print-content">
  <div class="columns is-centered">
    <div class="column is-10">
      <!-- Image section -->
      <figure class="image is-3by1">
        <img
          src="https://cdn.mcauto-images-production.sendgrid.net/b691810ddf8125de/d5993309-01ef-4abd-83bb-14b519123d9a/3848x1326.png"
          alt="Community Image"
        />
      </figure>

      <!-- Title Section -->
      <div class="box has-text-centered">
        <h2 class="title is-3 ">{{ notificationData.CommunityName }}</h2>
        <p class="subtitle is-4 mt-4">{{ notificationData.Title }}</p>
        <p class="content is-medium mx-5">{{ notificationData.Message }}</p>

        <div class="content mt-2">
          <p class="has-text-weight-semibold">Atte. {{ notificationData.SenderName }}</p>
        </div>

      </div>
    </div>
  </div>
</div>

