<div class="level mt-5">
  <div class="level-left">
    <h3 class="title is-3">Unidades</h3>
    <h6 class="subtitle level-item">{{ buildingName }}</h6>
  </div>
  <div class="level-right">
    <app-add-modal (addUnitEvent)="updateList($event)"></app-add-modal>
  </div>
</div>
@if (isLoading) {
<div class="skeleton-lines">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
} @else {
<!-- tabla -->
<div class="box">
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Número</th>
          <th>Tipo</th>
          <th>Edificio</th>
          <th>Piso</th>
          <th>Superficie</th>
          <th>Usuario</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (unit of units; track $index){
        <tr>
          <td>{{ unit.number }}</td>
          <td>{{ unit.unitType }}</td>
          <td>{{ unit.building }}</td>
          <td>{{ unit.floor }}</td>
          <td>{{ unit.surface }}</td>
          <td>{{ unit.user }}</td>
          <td>
            <app-edit-modal
              (editUnitEvent)="editUnit($event)"
              unitId="{{ unit.id }}"
            ></app-edit-modal>
          </td>
          <td>
            <button class="button is-small" (click)="deleteUnit(unit.id)">
              <span class="icon mr-2"
                ><i class="mr-2 fa-solid fa-trash"></i></span
              >Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
