<button class="button is-primary" (click)="onClickOpenModal()">
  Agregar Unidad
</button>
<div class="modal" [ngClass]="{ 'is-active': isOpen }">
  <div class="modal-background" (click)="onClickCloseModal()"></div>
  <div class="modal-content">
    <div class="box py-5 px-6 is-rounded">
      <h4 class="title is-4">Agregar Unidad</h4>

      <form [formGroup]="unitForm">
        <div class="field">
          <label class="label">Numero</label>
        </div>
        <div class="has-addons field">
          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="Numero"
              formControlName="number"
            />
          </div>
        </div>
        <div class="field">
          <div class="select">
            <select formControlName="unitType">
              <option value="">Seleccione Tipo de Unidad</option>
              @for (type of types; track $index) {
              <option value="{{ type.id }}">
                {{ type.name }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="field">
          <div class="select">
            <select formControlName="building" (change)="onChangeBuilding()">
              <option value="">Seleccione Edificio</option>
              @for (building of buildings; track $index) {
              <option value="{{ building.id }}">
                {{ building.name }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="field">
          <div class="select">
            <select formControlName="floor">
              <option value="">Seleccione Piso</option>
              @for (floor of floors; track $index) {
              <option value="{{ floor }}">
                {{ floor }}
              </option>
              }
            </select>
          </div>
        </div>

        @if (errors) {
        <div class="message is-danger">
          <div class="message-body">
            @for(error of errors; track $index){
            {{ error.message }}

            }
          </div>
        </div>
        } @if (isSuccess) {
        <div class="message is-success">
          <div class="message-body">Unidad agregada correctamente</div>
        </div>
        }
        <input type="hidden" name="id" formControlName="id" />
        <div class="field mt-6 mb-3">
          <div class="control">
            <button
              class="button is-primary"
              (click)="onClickAddUnit()"
              [ngClass]="{ 'is-loading': isAdding }"
              form
            >
              Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="onClickCloseModal()"
  ></button>
</div>
