<div
  class="button is-normal is-responsive is-fullwidth"
  (click)="onClickOpenModal()"
>
  <span class="icon mr-2"><i class="fa-solid fa-plus"></i></span>Agregar Unidad
</div>

<div class="modal" [ngClass]="{ 'is-active': isOpen }">
  <div class="modal-background" (click)="onClickCloseModal()"></div>
  <div class="modal-content columns is-centered">
    <div class="box py-5 px-6 is-rounded">
      <h4 class="title is-4 has-text-centered">Agregar Unidad</h4>

      <form [formGroup]="unitForm">
        <div class="field">
          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="Numero"
              formControlName="number"
            />
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <input
              class="input"
              type="number"
              placeholder="Superficie"
              formControlName="surface"
            />
          </div>
        </div>

        <div class="field has-text-centered">
          <div class="select is-fullwidth">
            <select formControlName="unitType">
              <option value="">Seleccione Tipo de Unidad</option>
              @for (type of types; track $index) {
              <option value="{{ type.id }}">
                {{ type.name }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="field has-text-centered">
          <div class="select is-fullwidth">
            <select formControlName="building" (change)="onChangeBuilding()">
              <option value="">Seleccione Edificio</option>
              @for (building of buildings; track $index) {
              <option value="{{ building.id }}">
                {{ building.name }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="field has-text-centered">
          <div class="select is-fullwidth">
            <select formControlName="floor">
              <option value="">Seleccione Piso</option>
              @for (floor of floors; track $index) {
              <option value="{{ floor }}">
                {{ floor }}
              </option>
              }
            </select>
          </div>
        </div>

        <!-- <div class="field has-text-centered">
          <div class="select is-fullwidth">
            <select formControlName="user" (change)="onChangeUser()">
              <option value="">Usuario</option>
              @for (user of users; track $index) {
              <option value="{{ user.id }}">
                {{ user.given_name }}
              </option>
              }
            </select>
          </div>
        </div> -->
      </form>
      <form [formGroup]="userForm">
        <div class="has-addons field py-3">

          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="Rut usuario"
              formControlName="rut"
            />
          </div>

          <div class="control">
            <button
              class="button is-info"
              [ngClass]="{
                'is-loading': isSearching,
              }"
              [disabled]="!canSearch"
              (click)="onClickSearch()"
            >
              Buscar
            </button>
          </div>
        </div>

        <!-- Mostrar datos del usuario si se encuentran -->
        <div
          *ngIf="userForm.get('name')?.value"
          class="box has-background-light mt-4"
        >
          <p><strong>Nombre:</strong> {{ userForm.get("name")?.value }}</p>
          <p><strong>Rol:</strong> {{ userForm.get("role")?.value }}</p>
        </div>

        <input type="hidden" formControlName="name" />
        <input type="hidden" formControlName="role" />
      </form>

      <div class="field mt-6 mb-3">
        <div class="buttons is-centered">
          <button
            class="button is-primary"
            (click)="onClickAddUnit()"
            [ngClass]="{ 'is-loading': isAdding }"
            form
          >
            Agregar
          </button>
          <button class="button is-warning" (click)="onClickCloseModal()">
            Cerrar
          </button>
        </div>
      </div>

      @if (errors) {
      <div class="message is-danger">
        <div class="message-body">
          @for(error of errors; track $index){
          {{ error.message }}

          }
        </div>
      </div>

      } @if (isSuccess) {
      <div class="message is-success">
        <div class="message-body">Unidad agregada correctamente</div>
      </div>
      }
    </div>
  </div>
</div>
