<button class="button is-primary" (click)="onClickOpenModal()">
  Agregar Usuario
</button>
<div class="modal requires-no-scroll" [ngClass]="{ 'is-active': isOpen }">
  <div class="modal-background" (click)="onClickCloseModal()"></div>
  <div class="modal-content">
    <div class="box py-5 px-6 is-rounded">
      <div class="columns is-vcentered is-flex">
        <div class="column is-three-quarters">
          <h4 class="title is-4">
            Agregar usuario a
            <span class="has-text-info">{{ (community | async)?.name }}</span>
          </h4>
        </div>
        <div class="column is-flex is-justify-content-flex-end">
          <button
            class="delete"
            aria-label="close"
            (click)="onClickCloseModal()"
          ></button>
        </div>
      </div>

      <form [formGroup]="form">
        <div class="field">
          <label class="label">Correo</label>
        </div>
        <div class="has-addons field">
          <div class="control is-expanded">
            <input
              class="input"
              type="email"
              placeholder="Correo"
              formControlName="email"
            />
          </div>
          <div class="control">
            <button
              class="button is-info"
              [ngClass]="{
                'is-loading': isSearching,
              }"
              [disabled]="!canSearch"
              (click)="onClickSearch()"
            >
              Buscar
            </button>
          </div>
        </div>
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Nombre"
              formControlName="name"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Teléfono</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Teléfono"
              formControlName="phoneNumber"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Rol</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Rol"
              formControlName="role"
            />
          </div>
        </div>
        <p class="subtitle is-6">
          O bien, realiza una carga masiva adjuntando un archivo
        </p>
        <div class="file" [ngClass]="{ 'has-name': isFileUploaded }">
          <label class="file-label">
            <input
              class="file-input"
              type="file"
              name="resume"
              (change)="onFileChange($event)"
              #fileInput
            />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">Elige un archivo</span>
            </span>
            @if (isFileUploaded) {
            <span class="file-name">{{ selectedFileName }}</span>
            }
          </label>
        </div>
        @if (errors) {
        <div class="message is-danger">
          <div class="message-body">
            @for(error of errors; track $index){
            {{ error.message }}

            }
          </div>
        </div>
        } @if (isSuccess) {
        <div class="message is-success">
          <div class="message-body">
            {{
              isFileUploaded
                ? "Se enviara una notificacion en cuanto el proceso finalice"
                : "Usuario agregado correctamente"
            }}
          </div>
        </div>
        }
        <input type="hidden" name="id" formControlName="id" />
        <div class="columns">
          <div class="column">
            <div class="field mt-6 mb-3">
              <div class="control">
                <button
                  class="button is-warning is-fullwidth"
                  [disabled]="!canAddUser"
                  (click)="onClickAddUser()"
                  [ngClass]="{ 'is-loading': isAdding }"
                >
                  Agregar
                </button>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field mt-6 mb-3">
              <div class="control">
                <button
                  class="button is-info is-fullwidth"
                  (click)="onClickReset(fileInput)"
                  [ngClass]="{ 'is-loading': isAdding }"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
