<div class="level">
  <div class="level-left">
    <h2 class="title">Administrar espacios comunes</h2>
  </div>
  <div class="level-right">
    <button class="button" (click)="onClickAdd()">
      <span class="icon mr-1">
        <i class="fa-solid fa-plus"></i>
      </span>
      Agregar espacio
    </button>
  </div>
</div>

<div class="grid is-col-min-12">
  @for (space of (commonSpaces$ | async); track $index){
  <div class="cell">
    <div
      class="box is-justify-content-space-between is-flex is-flex-direction-column"
      style="min-height: 18rem"
    >
      <h4 class="title is-4 has-text-weight-bold mb-6">{{ space.name }}</h4>
      <div>
        <span class="icon">
          <i class="fa-solid fa-user-group"></i>
        </span>
        Capacity: {{ space.capacity }}
      </div>
      <div class="mt-4">
        <span class="icon">
          <i class="fa-solid fa-location-dot"></i>
        </span>
        Location: {{ space.location }}
      </div>
      @if (space.isInMaintenance) {
      <div class="mt-4">En mantenimiento</div>
      }
      <div class="level is-mobile mt-5">
        <div class="level-left">
          <div class="field">
            <p class="control">
              <button
                type="button"
                class="button"
                (click)="onClickEdit(space.id)"
              >
                <span class="icon mr-1"
                  ><i class="fa-regular fa-pen-to-square"></i></span
                >Editar
              </button>
            </p>
          </div>
        </div>
        <div class="level-right">
          <div class="field">
            <p class="control has-text-left-tablet">
              <button
                type="button"
                class="button is-danger"
                (click)="onClickDelete(space.id)"
              >
                <span class="icon mr-1"><i class="fa-solid fa-trash"></i> </span
                >Eliminar
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
@if (isModalOpen) {
<app-modal-space
  [title]="modalTitle"
  (close)="onClickClose()"
  (onModalSubmit)="onSubmit()"
  [buttonTitle]="modalButtonTitle"
  [isValid]="form.valid"
  [isLoading]="isLoading"
>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <div class="field">
      <label class="label">Nombre</label>
      <p class="control is-expanded">
        <input
          class="input"
          [ngClass]="{ 'is-skeleton': isLoading && !isSaving }"
          type="text"
          placeholder="Name"
          formControlName="name"
        />
      </p>
    </div>

    <div class="field">
      <label class="label">Capacidad</label>
      <p class="control is-expanded">
        <input
          class="input"
          [ngClass]="{ 'is-skeleton': isLoading && !isSaving }"
          type="number"
          placeholder="Capacidad"
          formControlName="capacity"
        />
      </p>
    </div>

    <div class="field">
      <label class="label">Ubicación</label>
      <p class="control is-expanded">
        <input
          class="input"
          [ngClass]="{ 'is-skeleton': isLoading && !isSaving }"
          type="text"
          placeholder="Ubicación"
          formControlName="location"
        />
      </p>
    </div>
    @if (!isCreating) {

    <label class="checkbox">
      <input type="checkbox" formControlName="isInMaintenance" />
      ¿En mantención?
    </label>

    @if(form.get('isInMaintenance')?.value){

      <div class="columns mt-1">
        <div class="column field">
          <label class="label">Fecha Inicio Mantención</label>
          <p class="control ">
            <input
              class="input"
              [ngClass]="{ 'is-skeleton': isLoading && !isSaving }"
              type="date"
              formControlName="startDate"
            />
          </p>
        </div>

        <div class="column field">
          <label class="label">Fecha Termino Mantención</label>
          <p class="control ">
            <input
              class="input"
              [ngClass]="{ 'is-skeleton': isLoading && !isSaving }"
              type="date"
              formControlName="endDate"
            />
          </p>
        </div>
      </div>
    }


    } @if (errors.length > 0 || successMessage != '') {
    <div class="mt-5">
      <app-message [errors]="errors" [success]="successMessage" />
    </div>
    }
  </form>
</app-modal-space>
} @if (isModalDeleteOpen) {
<app-modal-space
  title="Esta seguro de eliminar espacio comun"
  (close)="onClickCloseDelete()"
  (onModalSubmit)="onDelete()"
  buttonTitle="Si, eliminar"
  [isDeleting]="true"
  [isValid]="canDelete"
  [isLoading]="isLoading"
>
  @if (errors.length > 0 || successMessage != '') {
  <app-message [errors]="errors" [success]="successMessage" />
  }
</app-modal-space>
}
