<div class="container">

  <div class="level">
    <div class="level-left">
      @if(isModifying) {
        <h2 class="title is-3 mb-5">Modificar comunidad</h2>
      } @else {
        <h2 class="title is-3 mb-5">Detalle de la comunidad</h2>
      }
    </div>
  </div>

</div>
@if (loadingLocation) {
<div class="skeleton-block">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum
  mollitia perferendis, id molestias dolor eaque architecto maxime. Repudiandae
  repellat, voluptates quo totam natus iusto molestias soluta. Nihil, aspernatur
  praesentium! Repellendus nihil, culpa quam a quae distinctio facilis sint
  corporis incidunt aspernatur quos et sed amet placeat vel atque, autem
  pariatur asperiores nobis, iusto laborum magni illo beatae! Placeat, minus.
  Optio saepe eius repellendus tempore vel adipisci et corporis illo expedita
  veniam, cupiditate blanditiis accusamus libero ut minima ratione eligendi
  neque. Enim, autem sit repudiandae vel saepe natus ipsum impedit! In soluta
  facere ad deleniti sit hic rem fugit modi ut dicta. Nam error delectus
  molestias eius quisquam ullam at in dolorem ratione ducimus repudiandae quis
  consectetur neque, eos eaque? Officiis ea quis aliquam asperiores placeat.
  Maxime eligendi obcaecati facere nisi ipsum. Nesciunt accusamus ex laboriosam
  esse! Sapiente, eos odio eius unde provident dicta praesentium accusamus,
  dolore doloremque deleniti consectetur? Velit necessitatibus, aliquid ut
  cumque hic doloribus illo rem eius autem magnam vel non, consectetur molestias
</div>
} @else {
<div class="container mt-4">
<div class="card">
  <div class="card-content">
    <div class="content">
      <form [formGroup]="form">
        <div class="field">
          <label class="label">Administrador</label>
          <div class="control">
            <input
              type="text"
              class="input"
              formControlName="adminName"
              [ngClass]="{ 'is-skeleton': loadingLocation }"
            />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control is-expanded">
            <label  class="label">Nombre</label>
            <input
              type="text"
              class="input"
              formControlName="name"
              [ngClass]="{ 'is-skeleton': loadingLocation }"
            />
          </div>
          <div class="control is-expanded">
            <label  class="label">Dirección</label>
            <input
              type="text"
              class="input"
              formControlName="address"
              [ngClass]="{ 'is-skeleton': loadingLocation }"
            />
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column is-one-third">
            <div class="field">
              <label  class="label">Región</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select
                    (change)="onChangeRegion($event)"
                    formControlName="regionId"
                    [ngClass]="{ 'is-skeleton': loadingLocation }"
                  >
                    <option value="|">Seleccione Región</option>
                    @for (region of regions; track $index) {
                    <option value="{{ region.id }}">{{ region.name }}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Ciudad</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select
                    (change)="onChangeCity($event)"
                    formControlName="cityId"
                    [ngClass]="{ 'is-skeleton': loadingLocation }"
                  >
                    <option value="|">Seleccione Ciudad</option>
                    @for (city of cities; track $index) {
                    <option value="{{ city.id }}">{{ city.name }}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Comuna</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select
                    formControlName="municipalityId"
                    [ngClass]="{ 'is-skeleton': loadingLocation }"
                  >
                    <option value="|">Seleccione Comuna</option>
                    @for (municipality of municipalities; track $index) {
                    <option value="{{ municipality.id }}">
                      {{ municipality.name }}
                    </option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- @if (errors | async) {
        <article class="message is-danger">
          <div class="message-body">
            @for (error of (errors | async); track $index){
            <p>{{ error }}</p>
            }
          </div>
        </article>
        } -->
        @if (!isModifying){
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="field">
              <div class="control">
                <button
                  (click)="onClickEdit()"
                  class="button is-warning is-fullwidth"
                >
                  Modificar
                </button>
              </div>
            </div>
          </div>
        </div>
        } @else {
        <div class="columns">
          <div class="column is-half">
            <button
              class="button is-danger is-fullwidth"
              (click)="onClickCancel()"
            >
              Salir
            </button>
          </div>
          <div class="column is-half">
            <button
              class="button is-warning is-fullwidth"
              (click)="updateUnit()"
            >
              Guardar
            </button>
          </div>
        </div>
        }
      </form>
    </div>
  </div>
</div>

<app-users-community communityId="{{ this.form.value.id }}" />
</div>
}
