<div class="modal is-active">
  <div class="modal-background" (click)="onClose()"></div>
  <div class="modal-card">
    <header class="modal-card-head is-shadowless">
      <p class="modal-card-title is-3">Cursar Multa</p>
      <button
        class="delete"
        aria-label="close"
        (click)="onClose()"
      ></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="form" [hidden]="notification">

        <div class="columns">
          <div class="column field">
            <label class="label" for="fines">Multa</label>
            <div class="control">
              <div class="select">
                <select
                  id="fines"
                  formControlName="FineId"
                  (change)="onChangefine()"
                >
                  <option value="0">Selecciona una multa</option>
                  <ng-container *ngIf="fines.length > 0; else noFines">
                    <option
                      *ngFor="let fine of fines"
                      [value]="fine.fineId"
                    >
                      {{ fine.name + " - " + fine.amount +" "+ FineDenomination[fine.status] }}
                    </option>
                  </ng-container>
                  <ng-template #noFines>
                    <option value="0">Multas no disponibles</option>
                  </ng-template>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="columns">
          <div class="column field">
            <label class="label" for="BuildingID">Edificio</label>
            <div class="control">
              <div class="select">
                <select
                  id="BuildingID"
                  formControlName="BuildingID"
                  (change)="onChangeBuilding()"
                >
                  <option value="0">Selecciona un Edificio</option>
                  <ng-container *ngIf="buildings.length > 0; else noBuildings">
                    <option
                      *ngFor="let building of buildings"
                      [value]="building.id"
                    >
                      {{ building.name }}
                    </option>
                  </ng-container>
                  <ng-template #noBuildings>
                    <option value="">Edificio no disponibles</option>
                  </ng-template>
                </select>
              </div>
            </div>
          </div>

          <div class="column field">
            <label class="label" for="UnitID">Unidad</label>
            <div class="control">
              <div class="select">
                <select
                  id="UnitID"
                  formControlName="UnitID"
                  (change)="onChangeUnit()"
                >
                  <option value="0">Selecciona una unidad</option>
                  <ng-container *ngIf="units.length >= 0; else noBuildings">
                    <option
                      *ngFor="let unit of units"
                      [value]="unit.id"
                    >
                      {{unit.unitType +" "+ unit.number }}
                    </option>
                  </ng-container>
                  <ng-template #noBuildings>
                    <option value="">Selecciona un edificio primero</option>
                  </ng-template>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="columns">

          <div class="column field">
            <label class="label">Fecha del Evento</label>
            <div class="control">
              <input
                class="input"
                type="datetime-local"
                formControlName="EventDate"
                (input)="onInputChange('EventDate')"
                [ngClass]="{
                  'is-danger': form.get('EventDate')?.invalid && form.get('EventDate')?.touched,
                  'is-success': form.get('EventDate')?.valid && form.get('EventDate')?.touched
                }"
              />
              @if (form.get('EventDate')?.invalid &&
              form.get('EventDate')?.touched) {
                @if(form.get('EventDate')?.errors?.['futureDate']){
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    La multa no se puede asignar a una fecha futura.
                  </p>
                } @else {
                  <p class="help is-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    Debe ingresar la fecha del evento.
                  </p>
                } } @else if (form.get('EventDate')?.valid &&
              form.get('EventDate')?.touched) {
                <p class="help is-right">
                  <i class="fas fa-check"></i>
                  Validado
                </p>
              }
            </div>
          </div>

          <div class="column field">
            <label class="label">Nombre Propietario</label>
            <div class="control">
              <input
                class="input"
                type="text"
                formControlName="UserName"
                placeholder="Nombre Propietario"
              />
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column field">
            <label class="label" for="comment">Comentario</label>
            <div class="control">
              <textarea
                id="comment"
                formControlName="Comment"
                class="textarea"
                maxlength="{{this.maxMessageLength}}"
                placeholder="Ingrese un comentario o motivo de multa, será visible por el propietario"
                rows="2"
                (input)="updateCharacterCount()"
              ></textarea>
            </div>
            <p class="help is-info has-text-right">Quedan {{ maxMessageLength - messageLength }} caracteres</p>
          </div>

        </div>


      </form>

      @if (notification) { @if (IsSuccess){
        <div class="notification is-success mt-3" >
          {{ this.notificationMessage }}
        </div>
      } @else if (IsError){
        <div class="notification is-danger mt-3">
          {{ this.notificationMessage }}
        </div>
      } }

      @if (this.form.get('UserName')?.value === 'Sin Asignar'){
        <div class="notification is-danger mt-3">
          No es posible cursar multas a unidades sin propietarios asignados.
        </div>
      }

    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button
          class="button is-success"
          [disabled]="IsSuccess || !form.valid || this.form.get('UserName')?.value === 'Sin Asignar'"
          [ngClass]="{ 'is-loading': IsLoading }"
          (click)="OnSubmit()"

        >
          Guardar
        </button>
        <button
          class="button"
          [disabled]="IsLoading"
          (click)="onClose()"
        >
          Salir
        </button>
      </div>
    </footer>
  </div>
</div>



