<section class="hero is-fullheight is-flex is-align-items-center is-justify-content-center">
  <div class="hero-body">
    <div class="box">
      <div class="has-text-centered">
        <h2 class="title is-1 mb-6">Confirmación de Correo</h2>
      </div>
      <div class="content has-text-centered">
        <div class="is-flex is-flex-direction-column is-align-items-center">
          @if(status() === 'loading'){
            <span class="icon is-large">
              <i class="fas fa-spinner fa-pulse fa-3x"></i>
            </span>
            <p>Confirmando tu correo electrónico...</p>
          } @else if (status() === 'success'){
            <span class="icon is-large has-text-success">
              <i class="fas fa-check-circle fa-3x"></i>
            </span>
            <p>¡Tu correo electrónico ha sido confirmado con éxito!</p>
          } @else if (status() === 'error'){
            <span class="icon is-large has-text-danger mb-5">
              <i class="fas fa-times-circle fa-3x"></i>
            </span>
            <p>Hubo un error al confirmar tu correo electrónico. Por favor, intenta nuevamente.</p>
          }
        </div>

      </div>

      <div class="has-text-centered">
        @if (status() === 'success'){
          <button class="button is-primary" (click)="handleLogin()">
            Iniciar sesión
          </button>
        } @else if (status() === 'error'){
          <button *ngIf="status() === 'error'" class="button is-danger" >
            Reintentar
          </button>
        }
      </div>

    </div>
  </div>
</section>
