<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editar Visita</p>
      <button class="delete" aria-label="close" (click)="onClickCloseModal()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="guestForm">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input class="input" formControlName="firstName" />
          </div>
        </div>
        <div class="field">
          <label class="label">Apellido</label>
          <div class="control">
            <input class="input" formControlName="lastName" />
          </div>
        </div>
        <div class="field">
          <label class="label">RUT</label>
          <div class="control">
            <input class="input" formControlName="rut" />
          </div>
        </div>
        <div class="field">
          <label class="label">Patente</label>
          <div class="control">
            <input class="input" formControlName="plate" />
          </div>
        </div>
        <div class="field">
          <label class="label">Departamento</label>
          <div class="control">
            <input class="input" formControlName="unit" />
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onClickUpdateGuest()">Guardar</button>
      <button class="button" (click)="onClickCloseModal()">Cancelar</button>
    </footer>
  </div>
</div>