<div class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-6">
          <h2 class="title is-2">¿Qué comunidad deseas administrar?</h2>
          <form [formGroup]="form">
            <div class="select is-fullwidth">
              <select
                (change)="onchange($event)"
                [disabled]="communities.length == 0"
              >
                @if (communities.length > 0) {
                <option value="|">
                  Seleccione la comunidad que desea administrar
                </option>
                @for (community of communities; track community.id) {
                <option value="{{ community.id }}">{{ community.name }}</option>
                } } @else {
                <option value="|">No hay comunidades asignadas</option>
                }
              </select>
            </div>
            @if(showData) {
            <div class="field mt-4">
              <label for="" class="label">Dirección</label>
              <div class="control">
                <input type="text" class="input" formControlName="address" />
              </div>
            </div>

            <div class="field">
              <label for="" class="label">Administrador</label>
              <div class="control">
                <input type="text" class="input" formControlName="adminName" />
              </div>
            </div>

            <div class="columns">
              <div class="column is-half">
                <div class="field">
                  <label for="" class="label">N° Edificios</label>
                  <div class="control">
                    <input
                      type="text"
                      class="input"
                      formControlName="buildingCount"
                    />
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <div class="field">
                  <label for="" class="label">N° Unidades</label>
                  <div class="control">
                    <input
                      type="text"
                      class="input"
                      formControlName="unitCount"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button
                  class="button is-primary is-fullwidth"
                  (click)="onClick()"
                >
                  Administrar
                </button>
              </div>
            </div>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
