<div class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <h2 class="title is-2 has-text-weight-bold">Cambiar Contraseña</h2>
          <form [formGroup]="form" (submit)="onSubmit($event)">
            <div class="field">
              <label for="email" class="label">Correo Electronico</label>
              <div class="control">
                <input
                  type="text"
                  class="input"
                  name="email"
                  autocomplete="email"
                  formControlName="email"
                />
              </div>
              @if (form.get('email')?.touched) {
              <span *ngIf="form.get('email')?.errors as emailErrors">
                <p class="help is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                  @if (emailErrors['required']) { El correo electronico es
                  requerido. } @if (emailErrors['email']) { El correo
                  electronico no es valido. }
                </p>
              </span>
              }
            </div>
            @if (message) {
            <article class="message is-success">
              <div class="message-body">
                <p>{{ message }}</p>
              </div>
            </article>
            } @if (errors) {
            <article class="message is-danger">
              <div class="message-body">
                @for (error of errors; track $index){
                <p>{{ error }}</p>
                }
              </div>
            </article>
            }
            <div class="field">
              <button class="button is-primary is-fullwidth" type="submit">
                Cambiar Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
